body {
    overflow: hidden; /* Hide scrollbars */
}

.main-admin{
    background-image: url("../../../public/background/10945476.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

